{% extends "main/header.html" %}
{% load crispy_forms_tags %}

{% block content %}
  
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6">
            <br>
            <h5>Assigning an Officer  to  {{ application.user.last_name }}'s Application with permit Number 
            {{ application.permit_number }}    
            </h5>
            <br/>
            <form  method="Post" action="">
             {% csrf_token %}
       
            <select name="officerid" class="form-control" id="">
             {% for a in officer %}
             
             {% if a.profile.role < 4 %}
                
           
            
             {% else %}
             <option value="{{ a.pk }}">{{ a.last_name }} </option>
             {% endif %}
        
             {% endfor %}
            
            </select>                          
           
        </div>
       
       
    </div>
</div>
<button type="submit" class="btn btn-success">Assign</button>
</form>

<button class="btn btn-warning"  data-dismiss="modal"><a href="{% url 'applications' %}">Cancel</a></button>

{% endblock content %}