{% extends "main/header.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


{% include 'main/messages.html' %}


      <div class="row mt-3">
        <div class="col-lg-4">
           <div class="card profile-card-2">
            <div class="card-img-block">
            </div>
            <div class="card-body pt-5">
                <img src="{{user.profile.image.url}}" alt="profile-image" class="profile">
                <h5 class="card-title">{{ user.first_name|capfirst  }} {{ user.last_name|capfirst  }}</h5>
      
            </div>

            <div class="card-body border-top border-light">
                <div class="media align-items-center">
                 
                    <div class="media-body text-left ml-3">
                      <div class="progress-wrapper">
                        <p>
                           
                           <a href="{% url 'user-profile-edit' user.id %}" class="nav-link"><i class="icon-note"></i> 
                           <span class="hidden-xs">Edit</span></a>
                           </p>
                        </div>
                       </div>                   
                   </div>
                 </div>
               
        </div>

        </div>

        <div class="col-lg-8">
           <div class="card">
            <div class="card-body">
            <ul class="nav nav-tabs nav-tabs-primary top-icon nav-justified">
                <li class="nav-item">
                    <a href="javascript:void();" data-target="#profile" data-toggle="pill" class="nav-link active"><i class="icon-user"></i> <span class="hidden-xs">Profile</span></a>
                </li>
            
                <li class="nav-item">
                    <a href="javascript:void();" data-target="#documents" data-toggle="pill" class="nav-link"><i class="icon-envelope-open"></i> <span class="hidden-xs">Documents</span></a>
                </li>
                
            </ul>
            <div class="tab-content p-3">
                <div class="tab-pane active" id="profile">
                    <h5 class="mb-3">User Profile</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="title">Email - {{ user.username}}</h6>
                            <h6 class="title">Email - {{ user.email}}</h6>
                          
                            <h6>Phone -  {{ user.profile.user_phone }}</h6>
                            <h6>National ID -  {{ user.profile.nationalid  }}</h6>
                        

                   
                        </div>
                   
                        <div class="col-md-12">
<br><br>
                             <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <tbody>                                    
                                    <tr>
                                        <td>
                                            <strong>Abby</strong> joined ACME Project Team in <strong>`Collaboration`</strong>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                          </div>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <div class="tab-pane" id="messages">
                    
                  <div class="table-responsive">
                    <table class="table table-hover table-striped">
                        <tbody>                                    
                            <tr>
                                <td>
                                   <span class="float-right font-weight-bold">3 hrs ago</span> Here is your a link to the latest summary report from the..
                                </td>
                            </tr>
                          
                         
                         
                           
                        </tbody> 
                    </table>
                  </div>
                </div>
                <div class="tab-pane" id="documents">
                    
                    <div class="table-responsive">
                      <table class="table table-hover table-striped">
                          <tbody>                                    
                            <tr>
                                <td>Certificate of </td>
                                <td>
                                    {{ object.documents.coi}}
                                    <a href="{{ object.documents.coi.url }}" download  class="btn btn-dark float-right">
                                    Download
                                    </a>
                                </td>
                              </tr>
                              <tr>
                              
                                <td>CR14</td>
                                <td> 
                                     {{ object.documents.cr }}
                                    <a href="{{ object.documents.cr.url }}" download  class="btn btn-dark float-right">Download</a>
                                     
                                    </td>

                              </tr>
                              <tr>
                                <td>Tax Clearence</td><td>    {{ object.documents.tax_clearence }}
                                    <a href="{{ object.documents.tax_clearence.url }}" download  class="btn btn-dark float-right">Download</a>
                                </td>
                              </tr>
                              <tr>
                                <td</td><td>  
                                    
                                    {% if userdetails %}
                                    <a href="{% url 'edit-documents' object.documents.fuserd.id %}">Edit Documents</a>
                                    {% else %}
                                    
                                    {% endif %}
                                        
                       
                                </td>
                              </tr>
                            
                      
                           
                             
                          </tbody> 
                      </table>
                    </div>
                  </div>
                
            </div>
        </div>
      </div>
      </div>
        
    </div>

	<!--start overlay-->
		  <div class="overlay toggle-menu"></div>
		<!--end overlay-->
	
    </div>
    <!-- End container-fluid-->
 
   <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->
	
	
	

   

  
{% endblock content %}