{% extends "main/header.html" %}
{% load static  %}

{% block content %}
<script src="{% static 'assets/plugins/Chart.js/Chart.min.js' %}"></script>

{% if user.profile.role == 2  %}
 <a href="{% url 'applications' %}">Applications</a>
  {% else %}

  
{% if user.profile.role > 3 %}
  

<div class="card mt-3">
    <div class="card-content">
        <div class="row row-group m-0">
            <div class="col-12 col-lg-6 col-xl-3 border-light">
                <div class="card-body">
                  <h5 class="text-white mb-0">{{ total_farmers }}<span class="float-right"><i class="fa fa-Users"></i></span></h5>
                    <div class="progress my-3" style="height:3px;">
                       <div class="progress-bar" style="width:100%"></div>
                    </div>
                  <p class="mb-0 text-white small-font">Total Farmers <span class="float-right"> <i class="zmdi zmdi-long-arrow-up"></i></span></p>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3 border-light">
                <div class="card-body">
                  <h5 class="text-white mb-0">{{ total_processing_permits }} <span class="float-right"><i class="fa fa-usd"></i></span></h5>
                    <div class="progress my-3" style="height:3px;">
                       <div class="progress-bar" style="width:100%"></div>
                    </div>
                  <p class="mb-0 text-white small-font">Proccessing <span class="float-right"> <i class="zmdi zmdi-long-arrow-up"></i></span></p>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3 border-light">
                <div class="card-body">
                  <h5 class="text-white mb-0">{{ total_waiting_permits }} <span class="float-right"><i class="fa fa-eye"></i></span></h5>
                    <div class="progress my-3" style="height:3px;">
                       <div class="progress-bar"  style="width:100%;background-color: orange;"></div>
                    </div>
                  <p class="mb-0 text-white small-font">Waiting Permits <span class="float-right"> <i class="zmdi zmdi-long-arrow-up"></i></span></p>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-3 border-light">
                <div class="card-body">
                  <h5 class="text-white mb-0">{{ total_users }} <span class="float-right"><i class="fa fa-users"></i></span></h5>
                    <div class="progress my-3" style="height:3px;">
                       <div class="progress-bar" style="width:100%"></div>
                    </div>
                  <p class="mb-0 text-white small-font">Users <span class="float-right"> <i class="zmdi zmdi-long-arrow-up"></i></span></p>
                </div>
            </div>
        </div>
    </div>
 </div>  
 <div class="row">
  <div class="col-12 col-lg-8 col-xl-8">
   <div class="card">
  <div class="card-header">Site Traffic
    <div class="card-action">
    <div class="dropdown">
    <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
     <i class="icon-options"></i>
    </a>
     <div class="dropdown-menu dropdown-menu-right">
     <a class="dropdown-item" href="javascript:void();">Action</a>
     <a class="dropdown-item" href="javascript:void();">Another action</a>
     <a class="dropdown-item" href="javascript:void();">Something else here</a>
     <div class="dropdown-divider"></div>
     <a class="dropdown-item" href="javascript:void();">Separated link</a>
      </div>
     </div>
    </div>
  </div>
  <div class="card-body">
<br>
   
   <div class="chart-container-1">
     <canvas id="myChart"></canvas>
   </div>
  </div>
  
 
  
 </div>
</div>

  <div class="col-12 col-lg-4 col-xl-4">
     <div class="card">
        <div class="card-header">Weekly sales
          <div class="card-action">
          <div class="dropdown">
          <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
           <i class="icon-options"></i>
          </a>
           <div class="dropdown-menu dropdown-menu-right">
           <a class="dropdown-item" href="javascript:void();">Action</a>
           <a class="dropdown-item" href="javascript:void();">Another action</a>
           <a class="dropdown-item" href="javascript:void();">Something else here</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="javascript:void();">Separated link</a>
            </div>
           </div>
          </div>
        </div>
        <div class="card-body">
      <div class="chart-container-2">
            <canvas id="chart2"></canvas>
     </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center">
            <tbody>
              <tr>
                <td><i class="fa fa-circle text-white mr-2"></i> Direct</td>
                <td>xxx</td>
                <td>+55%</td>
              </tr>
           
           
          
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>
{% else %}


<div class="card mt-3">
  <div class="card-content">
      <div class="row row-group m-0">
          <div class="col-12 col-lg-6 col-xl-3 border-light">
              <div class="card-body">
                <h5 class="text-white mb-0">{{ user_permits }}<span class="float-right"><i class="fa fa-file"></i></span></h5>
                  <div class="progress my-3" style="height:3px;">
                     <div class="progress-bar" style="width:100%"></div>
                  </div>
                <p class="mb-0 text-white small-font">Total Permits <span class="float-right">
                  
                </span></p>
              </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-3 border-light">
            <div class="card-body">
              <h5 class="text-white mb-0">{{ user_processing_permits }}<span class="float-right"><i class="fa fa-file"></i></span></h5>
                <div class="progress my-3" style="height:3px;">
                   <div class="progress-bar" style="width:100%"></div>
                </div>
              <p class="mb-0 text-white small-font">Permits Being Proccessed <span class="float-right">
                 
              </span></p>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-3 border-light">
          <div class="card-body">
            <h5 class="text-white mb-0">{{ user_Approved_permits }}<span class="float-right"><i class="fa fa-file"></i></span></h5>
              <div class="progress my-3" style="height:3px;">
                 <div class="progress-bar" style="width:100%"></div>
              </div>
            <p class="mb-0 text-white small-font">Approved Permits <span class="float-right">
     
            </span></p>
          </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-3 border-light">
        <div class="card-body">
          <h5 class="text-white mb-0">{{ user_Notapproved_permits }}<span class="float-right">
            
          </span></h5>
            <div class="progress my-3" style="height:3px;">
               <div class="progress-bar" style="width:100%"></div>
            </div>
          <p class="mb-0 text-white small-font">Permits not Approved <span class="float-right">
      </span></p>
        </div>
    </div>
    
      </div>
  </div>
  
</div>
<div class="card mt-3">
  <div class="card-content">
      <div class="row row-group m-0">
          <div class="col-12 col-lg-6 col-xl-3 border-light">
              <div class="card-body">
                <h5 class="text-white mb-0">{{ user_unpaid_permits }}<span class="float-right"><i class="fa fa-money"></i></span></h5>
                  <div class="progress my-3" style="height:2px;">
                     <div class="progress-bar" style="width:100%"></div>
                  </div>
                <p class="mb-0 text-white small-font">Approved and Unpaid  Permits<span class="float-right">
                  
                </span></p>
              </div>
          </div>
       
          <div class="col-12 col-lg-6 col-xl-3 border-light">
            <div class="card-body">
              <h5 class="text-white mb-0">{{ total_farms }}<span class="float-right"><i class="fa fa-tree"></i></span></h5>
                <div class="progress my-3" style="height:2px;">
                   <div class="progress-bar" style="width:100%"></div>
                </div>
              <p class="mb-0 text-white small-font">Total Farms<span class="float-right">
         
              </span></p>
            </div>
        </div>
     
    
      </div>
  </div>
  
</div>

{% endif %}
{% endif %}
<script>
 

new Chart("myChart", {
  type: "bar",
  data: {
    labels: [
                {% for b in d %}
                " {{  b.month|date:"M y" }}",
                {% endfor %}
    
],
    datasets: [
  {
      label:'Approved/month',
      data: [
          
              {% for b in approved %}
              {{ b.c }}
              {% if not forloop.last %},
              {% endif %}
              {% endfor %}
              
            
              
],
            backgroundColor: ['rgba(255, 206, 86, 0.2)'  ],
            borderColor: [  'rgba(10, 128,10, 1)'   ],
            borderWidth: 2
     
    },
{
    label:'Created/Month',
      data: [
              {% for b in d %}
              {{ b.c }}
              {% if not forloop.last %},
              {% endif %}
              {% endfor %}

],
    backgroundColor: [ 'rgba(230, 192, 192, 0.2)',   ],
    borderColor: ['rgba(0, 170, 255, 1)' ],
    borderWidth: 2

    },
{
      label:'Rejected/month',
      data: [
          {% for b in rejected %}
              {{ b.c }}
              {% if not forloop.last %},
              {% endif %}
              {% endfor %}
        
],
    backgroundColor: [    'rgba(255, 255, 255, 0.2)',  ],
    borderColor: [             
               'rgba(255, 0, 0, 1)'
           ],
                borderWidth: 3
    }



]
  },
 options: {

  scales: {
    yAxes: [{
					ticks: {
						beginAtZero:true,
						fontColor: '#ddd'
					},
					gridLines: {
					  display: true ,
					  color: "rgba(221, 0, 0, 0.08)"
					},
				  }],
},
}
});
</script>
{% endblock content %}

