{% extends 'main/header.html' %}


{% block content %}




  
<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">My Farms</h5>
          <div class="table-responsive">
           <table class="table table-striped">
              <thead>
                <tr>
              
                  <th scope="col">Farm Name</th>
                  <th scope="col">Farm address</th>               
                  <th scope="col">Farm Size</th>
                  <th scope="col">Date Registered</th>
            
               
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for farm in farms %}
                  
             
                <tr>
              
                 
                  <td>{{ farm.farm_name }}</td>
                  <td>{{ farm.farm_address }}</td>
               
                   <td>{{  farm.farm_size}} h</td>
                   <td>{{  farm.date_created }} h</td>
                  
                      <td>
                        <div class="card-action">
                          <div class="dropdown">
                          <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown">
                           <i class="icon-options"></i>
                          </a>
                             <div class="dropdown-menu dropdown-menu-right">
                             <a class="dropdown-item" href=" url 'user-profile' user.id ">View</a>
                            
                       
                      
                            <a class="dropdown-item" href=" url 'admin-user-profile-update' user.id ">Update</a>
                            <a class="dropdown-item" href="javascript:void();">Delete</a>
                       
                              
                 
                          
                       
                            </div>
                           </div>
                        </div>
                      </td>
                    

                </tr>
            
                {% endfor %}
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
            {% if is_paginated %}
            
                  {% if page_obj.has_previous %}
                   <li class="page-item disabled"> <a class="btn btn-outline-secondary mb-4"  href="?page=1">First </a></li>
                   <li class="page-item disabled"> <a class="btn btn-outline-secondary mb-4"  href="?page={{ page_obj.previous_page_number}}">Previous </a></li>
                  {% endif %}
            
                  {%  for num in page_obj.paginator.page_range  %}
            
                    {% if page_obj.number == num %}
            
                    <li class="page-item disabled">  <a class="btn btn-outline-info mb-4"  href="?page={{ num }}">{{ num }} </a></li>
            
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            
                        <li class="page-item disabled"> <a class="btn btn-outline-info mb-4"  href="?page={{ num }}">{{ num }} </a></li>
                     {% endif %}
            
                    {% endfor%}
            
              {% if page_obj.has_next %}
                 <li class="page-item disabled">   <a class="btn btn-outline-info mb-4"  href="?page={{ page_obj.next_page_number }}">Next </a></li>
                     <li class="page-item disabled">   <a class="btn btn-outline-info mb-4"  href="?page={{ page_obj.paginator.num_pages }}">Last </a></li>
                  {% endif %}
                  {% endif %}
            
            
              
              </ul>
            </nav>
            
        </div>
        </div>
      </div>
    </div>
    </div>  
  
{% endblock content %}